<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.plugin.bridge"
        version="0.7.0">

  <name>Bridge</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bridge.js" target="js/bridge.js"/>

  <js-module src="www/bridge.js" name="bridge">
    <clobbers target="cordova.plugins.bridge" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Bridge">
        <param name="android-package" value="com.plugin.bridge.Bridge"/>
      </feature>
    </config-file>

    <source-file src="src/android/Bridge.java" target-dir="com/plugin/bridge/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="CDVBridge">
        <param name="ios-package" value="CDVBridge" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVBridge.h" target-dir="BridgePlugin"/>
    <source-file src="src/ios/CDVBridge.m" target-dir="BridgePlugin"/>
  </platform>



</plugin>